<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>zLeaks</title>
    <link rel="stylesheet" href="resources/css/styles.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="container" id="app">
        <div class="search-container">
            <input type="text" v-model="search" placeholder="search for leaks">
        </div>
        <div class="card-container">
            <div class="card" v-for="entry in paginatedData" :key="entry.post_title" @click="toggleCard(entry)"
                :class="{ expanded: entry.expanded }">
                <div class="card-title">{{ entry.post_title }}</div>
                <div class="card-info">Group: {{ entry.group_name }}</div>
                <div class="card-info card-description" v-if="entry.expanded">{{ entry.description }}</div>
                <div class="card-info">Published: {{ entry.published }}</div>
                <div v-if="entry.post_url" class="card-url">
                    <a :href="entry.post_url" target="_blank">leakURL</a>
                </div>
            </div>
        </div>
        <ul class="pagination">
            <li>
                <a href="#" @click.prevent="changePage(currentPage - 1)" :disabled="currentPage === 1">Previous</a>
            </li>
            <li v-for="pageNumber in displayedPageNumbers" :key="pageNumber"
                :class="{ active: pageNumber === currentPage }">
                <a href="#" @click.prevent="changePage(pageNumber)">{{ pageNumber }}</a>
            </li>
            <li>
                <a href="#" @click.prevent="changePage(currentPage + 1)" :disabled="currentPage === pageCount">Next</a>
            </li>
        </ul>
        <div class="per-page-container">
            <label class="per-page-label" for="per-page-select">Results</label>
            <select id="per-page-select" class="per-page-select" v-model="perPage">
                <option value="6">6</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
                <option value="1000">1000</option>
                <option value="100000000">All</option>
            </select>
        </div>
    </div>
    <script src="resources/vue/vue.min.js"></script>
    <script src="resources/vue/vuejs-paginate.js"></script>
    <script src="resources/js/app.js"></script>
</body>

</html>